div.mobileOsAppGroupBig {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 3rem;
  margin-bottom: 3.5rem;
  width: 33%;
}

div.mobileOsAppGroupBigBackground {
  border-radius: 0.4rem;
  box-sizing: border-box;
  height: 100%;
  margin: 0 auto;
  width: 50%;
  cursor: pointer;
}

div.mobileOsAppGroupBigContainer {
  align-content: flex-start;
  align-items: center;
  background-size: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.mobileOsAppGroupBigTitle {
  text-align: center;
}

div.mobileOsAppGroupBigTitle h2 {
  font-weight: 100;
  font-size: 0.9rem;
  margin: 0.2rem 0 0;
  padding: 0 0.2rem;
}
