div.desktopGroupTitle {
  display: inline-block;
  cursor: pointer;
  height: 8rem;
  width: 12rem;
}

div.desktopGroupFolder {
  background-color: var(--dark-color);
  cursor: pointer;
  height: 7rem;
  margin: 0;
  position: relative;
  width: 8.4rem;
  /* left: -4rem; */
  top: 3rem;
  z-index: 10;
  transition: all 0.4s ease-out;
  -webkit-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
}

div.desktopAppGroupWrapper.expanded
  div.desktopGroupFolder
  div.desktopGroupFolder_front {
  top: 2.3rem;
  transform: rotateX(-55deg);
}

div.desktopAppGroupWrapper.expanded div.desktopGroupFolder {
  transform: rotateZ(45deg);
}
div.desktopGroupFolder_back {
  background-color: var(--folder-color-dark);
  border-radius: 1rem 0 0 1rem;
  display: inline-block;
  height: calc(100% - 5rem);
  position: absolute;
  top: 1rem;
  width: 4rem;
}

div.desktopGroupFolder_back::before {
  content: "";
  border-left: 2rem solid transparent;
  border-bottom: 2rem solid var(--folder-color-dark);
  height: 0;
  position: absolute;
  right: 0;
  top: -1rem;
  width: 0;
}

div.desktopGroupFolder_back::after {
  background-color: var(--folder-color-dark);
  border-radius: 0 1rem 0 0;
  content: "";
  display: inline-block;
  height: 6rem;
  left: 4rem;
  position: absolute;
  top: -1rem;
  width: 4rem;
}

div.desktopGroupFolder_front {
  background-color: var(--folder-color);
  border-radius: 1rem 0 0 1rem;
  display: inline-block;
  height: 5rem;
  position: absolute;
  top: 2rem;
  -webkit-transition:
    top 0.4s ease-out,
    -webkit-transform 0.4s ease-out;
  transition:
    top 0.4s ease-out,
    -webkit-transform 0.4s ease-out;
  -o-transition:
    transform 0.4s ease-out,
    top 0.4s ease-out;
  transition:
    transform 0.4s ease-out,
    top 0.4s ease-out;
  width: 4.2rem;
}

div.desktopGroupFolder_front::before {
  content: "";
  border-left: 2rem solid transparent;
  border-bottom: 2rem solid var(--folder-color);
  height: 0;
  position: absolute;
  right: 0.2rem;
  top: -1rem;
  width: 0;
}

div.desktopGroupFolder_front::after {
  background-color: var(--folder-color);
  border-radius: 0 1rem 1rem 0;
  content: "";
  display: inline-block;
  height: 6rem;
  left: 4rem;
  position: absolute;
  top: -1rem;
  width: 4.4rem;
}

h1.desktopGroupTitle {
  background-color: var(--white);
  color: var(--black);
  display: block;
  font-size: 1.2rem;
  left: 0;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 1.6rem;
  width: 8.4rem;
  z-index: 2;
}

div.desktopAppGroupWrapper {
  flex-grow: 1;
  height: 20%;
}

div.desktopAppWrapper {
  display: inline-flex;
  flex-wrap: wrap;
  left: -100rem;
  position: relative;
  top: -4rem;
  transition: all 0.6s ease-out;
  -webkit-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  visibility: hidden;
  width: 200%;
}

div.desktopAppGroupWrapper.expanded div.desktopAppWrapper {
  left: 11rem;
  visibility: visible;
  width: calc(100% - 10rem);
}

div.desktopAppGroupWrapper.expanded
  div.desktopAppWrapper
  div.desktopApp
  div.desktopAppBackground {
  transform: rotateZ(720deg);
  width: 4rem;
  height: 4rem;
}
