div.openApp {
  background-color: var(--white);
  color: black;
  overflow-y: scroll;
  position: fixed;
  top: 2rem;
  width: 100%;
  height: 95%;
  z-index: 10;
}

div.appImageTitle {
  background: linear-gradient(
    0.45turn,
    var(--dark-color),
    var(--darkest-color)
  );
  border-bottom: 0.2rem solid grey;
  color: var(--white);
  height: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.appImageTitle span {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 0.3rem;
}

/*
div.app-description--image-wrapper {
  background-color: var(--white);
  padding: 1rem;
  margin: 1rem;
} */
/*
div.openApp .app-links {
  padding-bottom: 1rem;
}

div.desktop-app_open ul li a {
  text-decoration: underline;
} */
