div.banner-container {
  color: var(--black);
  background-color: var(--medium-color);
  font-size: 1rem;
  padding: 0.2rem 0.6rem 0.4rem 0.6rem;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

div.banner-container span.banner-left--highlights:hover,
a.banner-left--highlights:hover {
  color: var(--white);
}

div.banner-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.banner-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

div.banner-left .resume-link {
  color: var(--black);
}

div.banner-left span,
div.banner-left a {
  padding-right: 1rem;

  font-weight: bold;
  text-decoration: none;
  font-size: 0.8rem;
}

div.banner-left a {
  color: var(--black);
  text-decoration: underline;
}

.small-light--text {
  font-weight: lighter;
  font-size: 0.8rem;
}
