div.banner-container {
  color: var(--black);
  background-color: var(--medium-color);
  font-size: 1rem;
  padding: 0.2rem 0.6rem 0.4rem 0.6rem;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

div.banner-container span.banner-left--highlights:hover {
  background-color: var(--dark-color);
}

div.banner-left {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: flex-start;
}

div.banner-left .resume-link {
  /* padding-left: 1rem; */
  color: var(--black);
}

div.banner-left span {
  padding-right: 1rem;
}

div.banner-left span,
div.banner-left a {
  /* color: white; */
  font-weight: bold;
  text-decoration: none;
}

div.banner-right {
  /* position: absolute; */
  /* right: 0; */
  /* top: 0.5rem; */
}
