div.mobileAppGroupSmallPlaceholder {
  box-sizing: border-box;
  height: 40%;
  margin: 1rem 5% 0;
  width: 40%;
}

div.mobileAppGroupBig {
  height: 20rem;
  left: calc(50% - 9.5rem);
  position: fixed;
  top: calc(50% - 13.8rem);
  width: 19rem;
  z-index: 10;
}

div.mobileAppGroupBigBackground {
  background-color: rgba(255, 255, 255, 0.4);
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-radius: 1rem;
  border-right: 1px solid white;
  border-top: 1px solid white;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 100%;
}

div.mobileAppGroupBigContainer {
  align-content: space-between;
  background-size: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
}

div.mobileAppGroupBigTitle {
  display: block;
  text-align: center;
}

div.mobileAppGroupBigTitle h1 {
  font-weight: 100;
}

div.backGroundBlur {
  opacity: 0.8;
  filter: blur(5rem);
  background-color: black;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

div.MobileOsAppGroupDimBehind {
  background-color: var(--black);
  height: 100%;
  left: 0;
  opacity: 0.9;
  position: fixed;
  top: 2rem;
  width: 100%;
  z-index: 4;
}
