div.desktop-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* height: 100%; */
  /* overflow-y: scroll; */
  overflow: hidden;
  /* position: relative; */
  padding: 2rem;
  /* width: 100%; */
  grid-row: 2;
}

div.floating-wall {
  background-color: var(--dark-color);
  position: absolute;
  height: 100vh;
  width: 10rem;
  top: 0rem;
  z-index: 9;
  left: 0rem;
}
