div.mccordinatorHead {
  background-position: center center;
  background-repeat: no-repeat;
  bottom: 1rem;
  height: 13rem;
  position: fixed;
  right: 2rem;
  width: 9rem;
  transform: rotate(5deg);
  transform-origin: bottom;
  transition: 300ms;
  -webkit-transition: 300ms;
  -o-transition: 300ms;
  animation: shake 1.8s infinite alternate;
  cursor: pointer;
}

.mccordinatorHeadLink {
  display: block;
  height: 100%;
  width: 100%;
}

div.mccordinatorSpeechBubble {
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0rem 0 12rem -2rem #000;
  -moz-box-shadow: -15px 10px 20px -12px #000;
  bottom: 14rem;
  position: fixed;
  right: 3rem;
  min-width: 10rem;
  max-width: 20rem;
  z-index: 2;
  padding: 2rem;
}

div.mccordinatorSpeechBubble::after {
  background: var(--white);
  bottom: -0.6rem;
  -webkit-box-shadow: 19px -30px 50px -10px var(--black);
  box-shadow: 19px -30px 50px -10px var(--black);
  content: "";
  height: 2rem;
  position: absolute;
  right: 6rem;
  -webkit-transform: rotate(90deg) skew(-50deg);
  -ms-transform: rotate(90deg) skew(-50deg);
  transform: rotate(90deg) skew(-45deg);
  width: 2rem;
  z-index: -1;
}

div.mccordinatorSpeechBubble p {
  border-bottom: 0.1rem dotted #222;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: black;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4rem;
  padding-bottom: 1rem;
  margin: 0;
  text-align: justify;
  width: 100%;
}

.speechBubbleChoicesWrapper {
  margin-top: 1rem;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.speechBubbleChoicesWrapper a {
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  width: calc(100% - 2rem);
  cursor: pointer;
  padding: 0.4rem;
  overflow-y: hidden;
  padding: 0 0 0.2rem 0;
}

.speechBubbleChoicesWrapper a:hover {
  background-color: var(--light-transparent-bg);
}
