div.mobileAppGroupSmall {
  box-sizing: border-box;
  height: 25%;
  margin: 3.125%;
  width: 25%;
}

div.mobileAppGroupSmallBackground {
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 1rem;
  border-color: #fff #fff grey grey;
  border-style: solid;
  border-width: 1px;
  box-sizing: border-box;
  display: inline-block;
  height: 100%;
  width: 100%;
}

div.mobileAppGroupSmallContainer {
  align-content: flex-start;
  background-size: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

div.mobileAppGroupSmallTitle {
  text-align: center;
}

div.mobileAppGroupSmallTitle h3 {
  font-weight: 100;
  margin: 0.4rem 0 1.6rem;
}
