div.desktop_banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0065b2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 2rem;
  font-size: 1rem;
  left: 0;
  /* padding: 0.5rem; */
  position: fixed;
  /* text-align: center; */
  top: 0;
  width: 100%;
  z-index: 999;
}

div.desktop_banner-container span {
  /* padding: 0.5rem 1rem; */
  /* margin-top: 0.4rem; */
}

/* div.desktop_banner-container span.banner-left--highlights a */
div.desktop_banner-container span.banner-left--highlights {
  color: white;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.5rem;
  padding-top: 0.4rem;
  padding: 0 0.5rem;
  /* height: 2rem; */
}

div.desktop_banner-container span.banner-left--highlights:hover {
  background-color: #0978b2;
}

div.desktop_banner-left {
  display: flex;
  margin-left: 1rem;
  flex-grow: 1;
  justify-content: flex-start;
  /* left: 3rem; */
  /* position: absolute; */
}

div.desktop_banner-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 1rem;
  /* margin-top: 0.4rem; */
  /* position: absolute; */
  /* right: 3rem; */
  /* top: 0.5rem; */
}
