div.desktop_banner-container {
  grid-row: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-color);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--black);
  font-size: 1rem;
  z-index: 99;
}

div.desktop_banner-container span.banner-left--highlights {
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
  margin-left: 0.5rem;
  padding-top: 0.4rem;
  padding: 0 0.5rem;
}

div.desktop_banner-container span.banner-left--highlights:hover {
  background-color: var(--dark-color);
  color: var(--white);
}

div.desktop_banner-container span.banner-left--highlights a:hover {
  background-color: var(--dark-color);
  color: var(--white);
}

div.desktop_banner-left {
  display: flex;
  margin-left: 1rem;
  flex-grow: 1;
  justify-content: flex-start;
}

div.desktop_banner-left .resume-link,
div.desktop_banner-left a {
  font-weight: bold;
  text-decoration: underline;
  color: var(--black);
}

div.desktop_banner-left a {
  margin-left: 1rem;
}

div.desktop_banner-right {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  margin-right: 1rem;
}
