:root {
  --white: whitesmoke;
  --lightest-color: #b3cbb9;
  --light-color: #8fb996;
  --medium-color: #709775;
  --dark-color: #415d43;
  --dark-color-rgba: rgba(65, 93, 67, 1);
  --darkest-color: #111d13;
  --black: #242424;
  --light-transparent-bg: hsla(135, 19%, 75%, 0.4);
}

div.App {
  background-color: var(--dark-color);
  color: var(--white);
  font-family: Helvetica, sans-serif;
  font-weight: 100;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2rem auto;
}

h1 {
  display: inline-block;
}

.text--white {
  color: white;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}
