:root {
  color-scheme: light dark;

  --white: whitesmoke;
  --lightest-color: #b3cbb9;
  --light-color: #8fb996;
  --medium-color: #709775;
  --dark-color: #415d43;
  --dark-color-rgba: rgba(65, 93, 67, 1);
  --darkest-color: #111d13;
  --black: #242424;
  --light-transparent-bg: hsla(135, 19%, 75%, 0.4);

  --folder-color: #ffa419;
  --folder-color-dark: #b26b00;
}

body {
  font-family: "VT323", monospace;
  font-weight: 600;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* font-size: 10px; */
  /* line-height  : 1.5; */
}

a {
  font-weight: 500;
  color: var(--light-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--lightest-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  -webkit-transition: border-color 0.25s;
  -o-transition: border-color 0.25s;
}
button:hover {
  border-color: var(--light-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
